---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");

console.log('Posts: ', posts);
---

<html lang="en">
    <head>
        <!-- meta is optional but recommended for SEO -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>
    </head>
    <body>
        <h1>Blogs</h1>

        {posts.map((post: any) => (
            <div>
              <h2>{post.data.title}</h2>
              <p>{post.data.date}</p>
              <div>{post.body}</div>
            </div>
          ))}
          
    </body>

    <style>
        h1 { color: darkgreen; }
        h2 { color: darkblue; margin:0; }
        p { color: gray; margin:4px 0; }
        div { margin-bottom: 16px; }
      </style>
</html>
