---
import Card from "../components/Card.astro";
const title = "My First Astro Page";
const description = "Learning Astro Componenets and Frontmatter";
---

<html lang="en">
	<head>
		<!-- meta is optional but recommended for SEO -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body>
		<h1>{title}</h1>
		<p>{description}</p>
		<!-- We can add components here -->
		 <Card title="Card 1" content="This is my card 1" />
		 <Card title="Card 2" content="This is my card 2" />
	</body>
	<style>
		h1 {
			color: blue;
			font-family: 'Times New Roman', Times, serif;
		}
		p {
			color: gray;
			font-size: 18px;
		}
	</style>
</html>